.container
{
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left: 0;
    backdrop-filter: blur(6px);
    z-index: 100;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    text-align: right;
}

.container.open
{
  display: block;
}

.container.close
{
  display: none;
}

.emptyArea
{
  position:absolute;
  width: 30%;
  height: 100%;
  left: 0;
}

.wrapper
{
  background-color: #DDEDF0;
  width: 70%;
  height: 100%;
  -webkit-box-shadow: -6px 0px 15px -5px rgba(0,0,0,0.3); 
  box-shadow: -6px 0px 15px -5px rgba(0,0,0,0.3);
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  position:absolute;
  right: 0;
}

.title
{
  font-family: 'Philosopher', sans-serif;
  color: #FAA536;
  font-size: 16px;
  margin:9vh 0 7vh 0;
}

.item
{
  width: 100%;
  text-align: center;
}

.item a
{
  font-family: 'Philosopher', sans-serif;
  color: #252D48;
  font-size: 14px;
  width: 100%;
  display: inline-block;
  padding:3vh 0;
  margin:0.5vh 0;
}

.item a:hover
{
  color: #FAA536;
}

.fadeIn
{
  animation-delay: 0s;
  animation: toOpen 0.6s;
  animation-fill-mode: forwards;
}

@keyframes toOpen {
  from 
  {
    margin-right: -70%;
    -webkit-box-shadow: -6px 0px 15px -5px rgba(0,0,0,0); 
    box-shadow: -6px 0px 15px -5px rgba(0,0,0,0);
  }
  to   
  {
    margin-right: 0%;
    -webkit-box-shadow: -6px 0px 15px -5px rgba(0,0,0,0.3); 
    box-shadow: -6px 0px 15px -5px rgba(0,0,0,0.3);
  }
}

.fadeOut
{
  animation-delay: 0s;
  animation: toClose 0.6s;
  animation-fill-mode: forwards;
}

@keyframes toClose {
  from 
  {
    margin-right: 0%;
    -webkit-box-shadow: -6px 0px 15px -5px rgba(0,0,0,0.3); 
    box-shadow: -6px 0px 15px -5px rgba(0,0,0,0.3);
  }
  to   
  {
    

    margin-right: -70%;
    -webkit-box-shadow: -6px 0px 15px -5px rgba(0,0,0,0); 
    box-shadow: -6px 0px 15px -5px rgba(0,0,0,0);
  }
}
