@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Roboto:wght@500&display=swap');

.circleProgressWrapper
{
    margin:10px 0;
    display:none;
}

.circleProgressShow
{
    display: block;
}

.notice
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color:#b09b19;
    font-weight: 500;
    margin: 10px 0 0 -7px;
    padding: 7px;
    background-color: #fdffe8;
}

.notice a
{
    color:#80ACFA;
}

.notice p
{
    margin-bottom: 3px;
}

.notice a:hover
{
    color:#fab75f;
}