.canvas
{
  width:100% !important;
  height:100% !important;
  clip-path: circle(100px at center);
  background-image: linear-gradient(135deg, rgba(248, 164, 71, 1) 0%, rgba(251, 208, 111, 1) 51%, rgba(250, 193, 87, 1) 100%);
}



