.canvas
{
  width:100% !important;
  height:100% !important;
  clip-path: circle(40% at 50% 50%)!important;
  background-image: linear-gradient(135deg, rgba(248, 164, 71, 1) 0%, rgba(251, 208, 111, 1) 51%, rgba(250, 193, 87, 1) 100%);
}



@media screen and (min-width: 545px)
{
  .canvas
  {
    clip-path: circle(33% at 50% 50%)!important;
  }
}

@media screen and (min-width: 546px)
{
  .canvas
  {
    clip-path: circle(39% at 50% 50%)!important;
  }
}



@media screen and (min-width: 727px)
{
  .canvas
  {
    clip-path: circle(26% at 50% 50%)!important;
  }
}

@media screen and (min-width: 801px)
{
  .canvas
  {
    clip-path: circle(29% at 50% 50%)!important;
  }
}

@media screen and (min-width: 803px)
{
  .canvas
  {
    clip-path: circle(25% at 50% 50%)!important;
  }
}

@media screen and (min-width: 947px)
{
  .canvas
  {
    clip-path: circle(23% at 50% 50%)!important;
  }
}

@media screen and (max-width: 626px) and (min-width: 567px)
{
  .canvas
  {
    clip-path: circle(35% at 50% 50%)!important;
  }
}

@media screen and (max-width: 730px) and (min-width: 626px)
{
  .canvas
  {
    clip-path: circle(31% at 50% 50%)!important;
  }
}

@media screen and (max-width: 506px)
{
  .canvas
  {
    clip-path: circle(42% at 50% 50%)!important;
    
  }
}

@media screen and (max-width: 428px)
{
  .canvas
  {
    clip-path: circle(47% at 50% 50%)!important;
    
  }
}

@media screen and (max-width: 352px)
{
  .canvas
  {
    clip-path: circle(45% at 50% 50%)!important;
    
  }
}

@media screen and (max-width: 329px)
{
  .canvas
  {
    clip-path: circle(41% at 50% 50%)!important;
    
  }
}

@media screen and (max-width: 290px)
{
  .canvas
  {
    clip-path: circle(36% at 50% 50%)!important;
    
  }
}

@media screen and (max-width: 768px)
{
  .canvas
  {
    clip-path: circle(30% at 50% 50%)!important;
    
  }
}

@media screen and (max-width: 412px)
{
  .canvas
  {
    clip-path: circle(48% at 50% 50%)!important;
    
  }
}

@media screen and (max-width: 414px)
{
  .canvas
  {
    clip-path: circle(48% at 50% 50%)!important;
    
  }
}

@media screen and (max-width: 280px)
{
  .canvas
  {
    clip-path: circle(39% at 50% 50%)!important;
    
  }
}

