.container
{
    font-family: 'Philosopher', sans-serif;
    margin:87px 0 0 0;
    display: flex;
    flex-direction: column;
}

.titles
{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items:center;
}

.titlesInner
{
  max-width: 90%;
  text-align: left;
}

h1.h11
{
    font-size: 30px;
    color:#252D48;
    font-weight: 700;
    text-align: left;
}
h1.h12
{
    font-size: 30px;
    color:#FAA536;
    font-weight: 700;
    text-align: left;
}

.skillsList
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:12px 0 0 0;
    row-gap: 10px;
    justify-content: center;
}

.item
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 70px;
    margin:0 9px;
}

.itemMargin
{
    margin-left: 26px;
}

.icon
{
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    height: 90px;
}

.iconCenter
{
    align-items: center;
}

.pug
{
  margin-top:40px;
}

.name
{
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color:#798197;
    padding-top: 7px;
}

.name p
{
    line-height: 16px;
}
