.container
{
    /*border:red 3px solid;*/
    margin-top: 20px;
}

.container
{
    font-family: 'Philosopher', sans-serif;
    margin:87px 0 0 0;
    display: flex;
    flex-direction: column;
    padding:0 2vw;
}

.titles
{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items:center;
}

.titlesInner
{
  min-width: 100%;
  text-align: left;
}

h1.h11
{
    font-size: 30px;
    color:#252D48;
    font-weight: 700;
    text-align: left;
}
h1.h12
{
    font-size: 30px;
    color:#FAA536;
    font-weight: 700;
    text-align: left;
}

article.description
{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 22px;
    color:#798197;
    font-weight: 500;
    padding:0;
    margin: 20px 0 30px 0;
    width: fit-content;
}

.item.left
{
  width: 95%;
}

.item.right
{
  width: 80%;
  min-height:200px;
  text-align: center;
  padding:0;
  margin:0 auto;
}

.avatar
{
    clip-path: circle(50% at 50% 50%)!important;
}