@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Roboto:wght@500&display=swap');

.container
{
    font-family: 'Philosopher', sans-serif;
    margin:87px 0 0 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
}

.titles
{
    margin:0 0 30px 0;
}

h1.h11
{
    font-size: 33px;
    color:#252D48;
    font-weight: 700;
}

h1.h12
{
    font-size: 33px;
    color:#FAA536;
    font-weight: 700;
}

.formContainer
{
  display: flex;
  flex-direction: column;
  gap: 0;
  padding:0;
  margin:0;
  font-size: 0;
}

.row1, .row2, .row3, .row4, .row5
{
  display: flex;
  flex-direction: row;
  width: 980px;
}

.row1Left
{
  width: 272px;
  height: 289px;
  
}

.row1Right
{
  width: 708px;
  height: 289px;
  
}

.row2
{
  height: 55px;
}

.row2L, .row2M, .row2R
{
  height: 55px;
}

.row2L
{
  width: 76px;
  
}

.row2L2
{
  width: 196px;
  
}

.row2M
{
  width: 655px;
 
}

.row2R
{
  width: 53px;
  
}

.row3
{
  height: 18px;
  
}

.row3L, .row3M, .row3R
{
  height: 18px;
}

.row3L
{
  width: 76px;
}

.row3M
{
  width: 851px;
  background-color: #fff;
}

.row3R
{
  width: 53px;
}

.row4L, .row4M, .row4R
{
  height: 100px;
}

.row4L
{
  width: 76px;
  text-align: right;
}

.row4M
{
  width: 851px;
  background-color: #fff;
}

.row4R
{
  width: 53px;
  text-align: left;
}

.row5L, .row5M, .row5R
{
  height: 55px;
}

.row5L
{
  width: 76px;
  text-align: right;
}

.row5M
{
  width: 851px;
}

.row5R
{
  width: 53px;
  text-align: left;
}

.ninjaDialog
{
  width: 400px;
  min-height: 180px;
  margin:50px 0 0 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.46); 
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.46);  
}

.ninjaDialogPointer
{
  border:solid 10px transparent;
  border-right-color:#fff;
  position:absolute;
  margin:120px 0 0 -20px;
}
