.container
{
    font-family: 'Philosopher', sans-serif;
    margin:87px 0 0 0;
    display: flex;
    flex-direction: column;
    padding:0 2vw;
}

nav .container
{
    padding:0;
}

.titles
{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items:left;
  min-width: 70%;
}

.titlesInner
{
  min-width: 95%;
  max-width: 95%;
  text-align: left;
}

h1.h11
{
    font-size: 30px;
    color:#252D48;
    font-weight: 700;
    text-align: left;
}
h1.h12
{
    font-size: 30px;
    color:#FAA536;
    font-weight: 700;
    text-align: left;
}

.contentWrapper
{
  display: flex;
  justify-content: left;
}

.contentInner
{
  width: 95%;
}

.formContainer
{
  display: flex;
  flex-direction: column;
  gap: 0;
  padding:0;
  margin:0;
  font-size: 0;
  width: 100%;
}

.dialogContent
{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 20px;
  color:#798197;
  font-weight: 500;
  margin:16px 0 0 0;
  padding: 0 5px;
}

.emailLink
{
  margin:0 0 0 10px;
}

.emailLink a
{
  color:#80ACFA;
  text-decoration: underline;
}

.emailLink a:hover
{
  color:#fab75f;
}

.orP
{
  color: #252D48;
}

.formWrapper
{
  font-size: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.07); 
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.07);
  margin:16px 0 0 0;
  padding:5px 10px 10px 10px;
}

nav .formWrapper
{
  padding:10px 10px 10px 10px;
}

.formColumnWrapper
{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.formColumnWrapper .input
{
  width: 100%;
  padding:0;
}

nav .formColumnWrapper
{
}

.formColumnWrapper input[type=text], .formColumnWrapper textarea
{
  background-color: #ebeff2;
  border: #E0E2E5 1px solid;
  font-size: 20px;
  width: 92%;
}

.formColumnWrapper textarea
{
  min-height: 120px;
  resize:none;
}

.formColumnWrapper input[type=text]
{
  line-height: 20px;
}

.formColumnWrapper input[type=text]::placeholder, .formColumnWrapper textarea::placeholder
{
  color:#798197;
  padding:0 5px;
}

.formColumnWrapper .star
{
  color:#faa536;
  font-size: 20px;
  line-height: 20px;
  margin:0 3px;
  width: fit-content;
  margin-top: 3px;
}

.formColumnWrapper:not(span) .star
{
  vertical-align:middle;
}

.formColumnWrapper:not(div) .star
{
  vertical-align:top;
}

.errorMessageWrapper
{
  color:#eb4034;
  margin:0 0 10px 5px;
  font-size: 18px;
  cursor:not-allowed;
}

.formColumnWrapper.noError
{
  margin:16px 0;
}

.errorMessageWrapper.noError
{
  display: none;
}

.firstColumn
{
  margin-top: 16px;
}

.submitArea
{
  display: flex;
  flex-direction: row;
}


.circleProgressWrapper
{
  display: inline-flex;
  margin:0 0 0 16px;
}