.container
{
    font-family: 'Philosopher', sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.group
{
    
}

.rightGroup
{
  
}

.rightGroup .item
{
  display: none;
}

.mobileMenuButton
{
  cursor: pointer;
  height:21px;
  width: 20px;
}

.menuIconOuter
{
  position:absolute;
  z-index: 101;
}

.menuIconInner
{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  cursor: pointer;
  height:21px;
  width: 20px;
}

.mobileMenuButton .line1, .mobileMenuButton .line2, .mobileMenuButton .line3
{
  width: 20px;
  height: 3px;
  background-color: #757575;
  position:absolute;
}

.mobileMenuButton .line1
{
  margin-top: 0;
}

.mobileMenuButton .line2
{
  margin-top:6.5px;
}

.mobileMenuButton .line3
{
  width: 23px;
  margin-top: 13.5px;
}

.mobileMenuButtonAnim .line1
{
  animation-delay: 0s;
  animation: toclose1 0.5s;
  animation-fill-mode: forwards;
}

.mobileMenuButtonAnim .line2
{
  animation-delay: 0s;
  animation: toclose2 0.5s;
  animation-fill-mode: forwards;
}

.mobileMenuButtonAnim .line3
{
  animation-delay: 0s;
  animation: toclose3 0.5s;
  animation-fill-mode: forwards;
}

@keyframes toclose1 {
  from 
  {
    transform:rotate(0deg); 
    -webkit-transform: rotate(0deg);
    -moz-transform: rotateY(0deg);
    transform-origin:center;
    margin-top: 0;
  }
  to   
  {
    transform:rotate(45deg); 
    -webkit-transform: rotate(45deg);
    -moz-transform: rotateY(45deg);
    transform-origin:center;
    margin-top: 3.5px;
  }
}

@keyframes toclose2 {
  from 
  {
    transform:rotate(0deg); 
    -webkit-transform: rotate(0deg);
    -moz-transform: rotateY(0deg);
    transform-origin:center;
    margin-top: 6.5px;
  }
  to   
  {
    transform:rotate(-45deg); 
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotateY(-45deg);
    transform-origin:center;
    margin-top: 3px;
  }
}

@keyframes toclose3 {
  from 
  {
    opacity: 1;
  }
  to   
  {
    opacity: 0;
  }
}
