@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&family=Noto+Serif+TC:wght@400;500;600&family=Roboto&display=swap');
.outer
{
  display: flex;
  width:100%;
  height:100%;
  justify-content: center;
}

.container
{
  //border:red 3px solid;
  font-family: 'Noto Serif TC';
  display: flex;
  width:980px;
  justify-content: left;
  background-color:#F5E6CC;
}