@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

.outer
{
  display: flex;
  width:100%;
  height:100%;
}

.container
{
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 23px;
  display: flex;
  width:980px;
  justify-content: left;
  /*background-color:#F5E6CC;*/
}