@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap');

.container
{
    /*border:red 3px solid;*/
    margin-top: 20px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.leftArea
{
    margin-right: 20px;
    /*background-color: aquamarine;*/
}

.rightArea
{
    /*background-color: red;*/
}

h1.title
{
    font-weight: 500;
    font-size: 40px;
    color: #21243d;
    margin-top:12px;
}

.nameHighlight
{
    font-weight: 500;
    font-size: 40px;
    color: #e01e5a;
}

h3.descritpion
{
    font-weight:300;
    font-size: 21px;
    color: #21243d;
    margin-top: 10px;
    line-height: 29px;
}

h3.descritpion p
{
    padding-bottom: 7px;
}

.circleContainer
{
    background: lightblue;
    border-radius: 50%;
    width: 230px;
    height: 230px;
}