@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

.container
{
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.group
{
    
}

.item 
{
    display: inline-block;
    box-sizing: border-box;
    color:#000;
    margin: 0px;
    padding:4px 0px;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.item a
{
    color:#000;
}

.item a:hover
{
    color:#f99d3c;
}

.itemRight 
{
    margin: 0px 0px 0px 30px;
}

.button
{
    display: inline-flex;
    color:#fff;
    background-image: -webkit-linear-gradient(top, #FDD972, #FBB432, #F8963F);
    background-image: -moz-linear-gradient(top, #FDD972, #FBB432, #F8963F);
    background-image: -ms-linear-gradient(top, #FDD972, #FBB432, #F8963F);
    background-image: -o-linear-gradient(top, #FDD972, #FBB432, #F8963F);
    background-image: linear-gradient(to bottom, #FDD972, #FBB432, #F8963F);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Philosopher', sans-serif;
    padding:4px 12px;
    
}

.button a
{
    color:#fff;
}

.button a:hover
{
    color:#000;
}